html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}
img {
  width: 100%;
  height: auto;
}

.listImages {
  list-style: none;
}

.stats-item {
  font-size: 24px;
  font-weight: bold;
  color: teal;
}

.search-form {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: auto;
}

.btn {
  background-color: teal;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;  
  color: yellowgreen;
  border: solid 2px greenyellow;
}

.input {
  font-size: 20px;
  width: 250px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  background-color: yellowgreen;
}